.contenedor-selects{
  
    margin-top:20px;
   display:flex;
   justify-content:flex-end;
   max-width:100%
  
 }


 .conetenedor-select {
   color:white;
    
 }
 select, .selectBox{
   background-color:#72a5ad;
   color:white;
   width:200px;
   border-radius:7px;
   height:30px;
   border:0px;
   outline:0px;
   position: relative;
   font-size:15px;
   text-align:left;
   padding:0 2%;
   margin-left:7px;
   margin-right:7px;
   cursor: pointer;
   
 
 }
 #comboboxcheckboxes{
z-index: -2;
 }
select:hover {
  background-color:#306973;
  border:1px solid #BBBBBB;
  cursor: pointer;
  }


 option{
    border:0px;
   outline:0px;
   background-color:#72a5ad;   
   color:#ffffff;
   margin-top:10px;
   border-radius:7px;
   cursor: pointer;
    border:0px;
     outline:0px;
     margin-left:10px;
     z-index:-2
 }

 
  
 
 .multiselect {
  width: 205px;
  background-color:#72a5ad; 
  position: absolute;
}


.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color:#72a5ad; 

}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
  background-color:#72a5ad; 
  position: absolute;
  z-index: 20;
  margin-left: 5px;
  padding:0 .5%;
 
}

#checkboxes label {
  display: block;
  background-color:#72a5ad;   
 color:#ffffff;
 cursor: pointer;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}